.plaque{
    max-width:310px;
    max-height:240px;
    min-width:310px;
    min-height:240px;
}

.charNums{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    position: relative;
    top: -20px;
}

.plaqueDetail{
}

.plaqueDetailHidden{
    display: none;
}

#name{
    grid-column: span 2;
}
#ac{
    border-color:rgb(35, 35, 155);
    min-width: 70px;
}
#init{
    border-color:rgb(22, 83, 22);
    min-width: 70px;
}
#hp{
    border-color:rgb(158, 36, 36);
}
#closeButton{
    position: relative;
    top:-40px;
    right:-250px;
    background-color: rgb(202, 88, 60);
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 5px;
    padding-left: 10px;
}


.shownStatus{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position:relative;
    top: -10px;
    left: -30px;
}

.hiddenStatus{
    display:none;
}