.plaque{
    max-width:310px;
    max-height:270px;
    min-width:310px;
    min-height:270px;
}

.hidden{
   display: none; 
}

.showing{
    height: 270px;
    width: 310px;
}

.charNums{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    position: relative;
    top: -25px;
}

.plaqueDetail{
}

.plaqueDetailHidden{
    display: none;
}

#name{
    position: relative;
    top: -30px;
}

#ac{
    border-color:rgb(35, 35, 155);
    min-width: 70px;
}
#init{
    border-color:rgb(22, 83, 22);
    min-width: 70px;
}
#hp{
    border-color:rgb(158, 36, 36);
}
#closeButton{
    position: relative;
    top:-60px;
    right:-235px;
    background-color: rgb(202, 88, 60);
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 5px;
    padding-left: 10px;
}


.shownStatus{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position:relative;
    top: -30px;
    left: -20px;
}
