
.SkillCheckList{

}

.skills-header-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.SkillCheckList-title{

}

.SkillCheckList-img{

}

.SkillCheckList-misc{

}

