.combat-stat-line{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.combat-stat-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width:20%;
    height:30%;
    border: 1px;
    border-style: solid;
    border-color: rgb(65, 64, 94);
    border-radius: 3px;
    padding: 10% 70% 10% 70%;
}

.Stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
